@font-face {
    font-family: 'Helvetica';
    font-weight: 400;
    src: url(../fonts/Helvetica/HelveticaNeueCyr-Roman.ttf) format("truetype");
}

@font-face {
    font-family: 'Raleway';
    font-weight: 400;
    src: url(../fonts/raleway/Raleway-Regular.woff) format('woff');
}

@font-face {
    font-family: 'Raleway';
    font-weight: 400;
    font-style: italic;
    src: url(../fonts/raleway/Raleway-Italic.woff) format('woff');
}

@font-face {
    font-family: 'Raleway';
    font-weight: 500;
    src: url(../fonts/raleway/Raleway-SemiBold.woff) format('woff');
}

@font-face {
    font-family: 'Raleway';
    font-weight: 500;
    font-style: italic;
    src: url(../fonts/raleway/Raleway-SemiBoldItalic.woff) format('woff');
}

@font-face {
    font-family: 'Raleway';
    font-weight: 700;
    src: url(../fonts/raleway/Raleway-Bold.woff) format('woff');
}

@font-face {
    font-family: 'Raleway';
    font-weight: 700;
    font-style: italic;
    src: url(../fonts/raleway/Raleway-BoldItalic.woff) format('woff');
}

@font-face {
    font-family: 'Raleway';
    font-weight: 800;
    src: url(../fonts/raleway/Raleway-ExtraBold.woff) format('woff');
}

@font-face {
    font-family: 'Raleway';
    font-weight: 800;
    font-style: italic;
    src: url(../fonts/raleway/Raleway-ExtraBoldItalic.woff) format('woff');
}