html, body {
    height: 100%;
}

body {
    font-family: 'Raleway', sans-serif;
    line-height: 1.5;
    font-variant-numeric: lining-nums;
}

input {
    font-variant-numeric: lining-nums;
    outline: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;;
}

.wrapper.modal-view--open .main-content{
    display: none;
}

.wrapper.modal-view--open .footer{
    display: block;
}

.link-to {
    color: #f3f2f2;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    text-align: left;
    text-decoration: underline;
    margin-top: 14px;
    display: block;
    cursor: pointer;
    transition: opacity 200ms ease-in-out;
    will-change: opacity;
}

.link-to:hover {
    opacity: .8;
}

.link-to--dotted {
    display: inline-block;
    text-decoration: none;
    font-weight: 800;
    position: relative;
}

.link-to--dotted:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
    background-image: url("../images/icons/Line.svg");
    width: 100%;
    height: 2px;
}

.link-to--color-purple {
    color: #af52de;
}

.header, .footer {
    flex-shrink: 0;
}

.content {
    flex-grow: 1;
    margin: 15px auto;
    max-width: 400px;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
}

.header {
    flex-shrink: 0;
    background-color: #481173;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 55px;
    height: auto;
    min-width: 319px;
    flex-wrap: wrap;
    padding: 18px 16px 10px;
}

.header__left {
    display: inline-flex;
    align-items: center;
}

.header__left .expand-btn {
    margin-right: 12px;
}


@media (min-width: 480px) {
    .header {
        padding-top: 10px;
    }
}

@media (min-width: 1200px) {
    .header {
        justify-content: center;
    }
}

.user-section {
    display: flex;
    align-items: center;
}

.user-section__item {
    max-height: 22px;
}

.user-section__item:not(:last-of-type) {
    margin-right: 16px;
}

.user-section__item a {
    display: inline-block;
}

.user-section__item a:hover {
    opacity: .8;
}

.main-logo {
    display: inline-flex;
    z-index: 1;
}

.expand-btn {
    border: none;
    width: 22px;
    height: 17px;
    background: transparent url("../images/icons/hamburger-icon.svg") center no-repeat;
    background-size: 22px 17px;
    cursor: pointer;
}

.expand-btn--active {
    background-image: url("../images/icons/close-icon.svg");
}

.product-search-block {
    order: 2;
    flex-grow: 1;
    margin-top: 15px;
    position: relative;
}

.product-search-block__upload-btn {
    width: 22px;
    height: 18px;
    border: none;
    position: absolute;
    right: 12px;
    top: 10px;
    background: url("../images/icons/camera-icon.svg") center no-repeat;
}

.product-search-block__upload-btn:active {
    opacity: .8;
}

.product-search-block input {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    color: #fff;
    padding-left: 40px;
    padding-right: 45px;
    font-weight: 500;
    background-image: url("../images/icons/search-icon.svg");
    background-position: 12px center;
    background-repeat: no-repeat;
    padding-bottom: 2px;
}

.product-search-block input:before, .product-search-block input:after {
    content: '';
    display: block;
    position: absolute;
}

.product-search-block input:before {
    width: 20px;
    height: 20px;
    left: 10px;

}

.product-search-block input::placeholder {
    color: rgba(243, 242, 242, .75);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: normal;
    line-height: 20px;
}

.product-search-block input:-ms-input-placeholder {
    color: rgba(243, 242, 242, .75);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: normal;
    line-height: 20px;
}

.product-search-block input::-ms-input-placeholder {
    color: rgba(243, 242, 242, .75);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: normal;
    line-height: 20px;
}

@media (min-width: 480px) {
    .product-search-block {
        order: 0;
        flex-basis: 42%;
        margin: 0 15px;
    }
}

@media (min-width: 1200px) {
    .product-search-block {
        flex-grow: initial;
    }
}

.photo-gallery {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
}

.photo-gallery__item {
    width: 31.4%;
    height: 128px;
    border-radius: 8px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center
}

.photo-gallery__item:not(:last-of-type) {
    margin-right: 8px;
    margin-bottom: 8px;
}

.photo-gallery__item:nth-child(3n) {
    margin-right: 0;
}

.main-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 24px 16px;
    background-image: linear-gradient(to right, #ff52bd 0%, #ff425d 100%);
    border-radius: 8px;
}

.main-form h1 {
    color: #f3f2f2;
    font-size: 18px;
    line-height: 22px;
}

.form {
    width: 100%;
    max-width: 400px;
    margin-top: 20px;
}

.form .input {
    height: 40px;
    width: 100%;
    padding: 0 16px 1px 45px;
    border-radius: 6px;
    border: none;
    background-color: #ffffff;
    color: #af52de;
    font-weight: 500;
    background-image: url(../images/icons/phone-icon.svg);
    background-position: left center;
    background-repeat: no-repeat;
}

.form__input-field {
    position: relative;
}

.form .input.error {
    border: 1px solid red;
}

.form .input:-webkit-autofill {
    text-align: center;
    padding-left: 0;
}

.form .input:autofill {
    text-align: center;
    padding-left: 0;
}

.form input::placeholder {
    color: #af52de;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: normal;
    line-height: 24px;
    text-align: left;
}

.form input:-ms-input-placeholder {
    color: #af52de;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: normal;
    line-height: 24px;
    text-align: left;
}

.form input::-ms-input-placeholder {
    color: #af52de;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: normal;
    line-height: 24px;
    text-align: left;
}

.form .btn {
    height: 40px;
    margin-top: 15px;
    border: none;
    width: 100%;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    background-color: #af52de;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
    will-change: background-color, opacity;
    transition: background-color 200ms ease-in-out, opacity 200ms ease-in-out;
}

.form .btn:after {
    background: #fff;
    content: "";
    height: 9.6875rem;
    left: -4.6875rem;
    opacity: 0.2;
    position: absolute;
    top: -50px;
    transform: rotate(
            35deg
    );
    transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    width: 3.125rem;
    z-index: 1;
    animation-delay: 0.01s;
    animation-timing-function: ease-in-out;
    animation-name: radiance;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}


.form .btn:hover {
    cursor: pointer;
    opacity: .8;
}

.form .btn:hover:after {
    left: 120%;
}

.modal-view {
    display: none;
    padding: .9rem;
    width: 100%;
    background: #fff;
    margin: 45px auto;
    max-width: 400px;
    position: relative;
}

.modal-view.modal-view--open {
    display: flex;
}

.modal-view .modal-view-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.modal-view .modal-view-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal-view .modal-view-close {
    cursor: pointer;
}

.modal-view .modal-view-content h1 {
    color: #332e2e;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.2px;
    line-height: 30px;
    margin-bottom: 35px;
}

.footer {
    display: none;
    max-width: 400px;
    margin: 0 auto 8px;
    color: #736d6d;
    font-family: "Helvetica", sans-serif;
    font-size: 8px;
    letter-spacing: -0.2px;
}

.modal-view .form {
    margin-bottom: 20px;
}

.modal-view .form .input {
    height: 48px;
    border-radius: 6px;
    background-color: #ebebeb;
    color: #332e2e;
    font-weight: 500;
    background-image: url(../images/icons/phone-icon--gray.svg);
}

.modal-view .form input::placeholder {
    color: #332e22;
    font-weight: 400;
    font-size: 16px;
}

.modal-view .form input:-ms-input-placeholder {
    color: #332e22;
    font-weight: 400;
    font-size: 16px;
}

.modal-view .form input::-ms-input-placeholder {
    color: #332e22;
    font-weight: 400;
    font-size: 16px;
}

.modal-view .form .btn {
    height: 48px;
}

.modal-view .link-to {
    margin-top: 23px;
}

.success-block {
    width: 100%;
    margin: 90px 0;
    color: #2a2928;
}

.success-block p {
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 6px;
    line-height: 16px;
    opacity: .7;
    color: #302d33;
}

.success-block h1 {
    color: #302d33;
    font-size: 24px;
    font-weight: 800;
    line-height: 30px;
    margin-top: 13px;
    letter-spacing: -0.2px;
}

.error_wrapper {
    position: relative;
    width: 100%;
    max-width: 25.875rem;
}

.error_alert {
    font-size: 10px;
    text-transform: uppercase;
    color: red;
    position: absolute;
    z-index: 10;
    background-color: #fff;
    right: .5rem;
    top: -.4rem;
    padding: 3px;
    line-height: 8px;
    border-radius: 1px;
}

@media (min-width: 480px) {
    .success-block {
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
}


.text-uppercase {
    text-transform: uppercase;
}

@keyframes float {
    0%,
    100% {
        transform: none;
    }
    33% {
        transform: translateY(-1px) rotate(-2deg);
    }
    66% {
        transform: translateY(1px) rotate(2deg);
    }
}

@keyframes radiance {
    0% {
        left: -30px;
        margin-left: 0;
    }

    30% {
        left: 110%;
        margin-left: 80px;
    }

    100% {
        left: 110%;
        margin-left: 80px;
    }
}